
.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.column-one-fourth {
  width: 25%;
}

.column-three-fourth {
  width: 75%;
}

.column-two-third {
  width: calc(200% / 3);
}

.column-one-third {
  width: calc(100% / 3);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  h2,
  h3,
  p,
  .column-full,
  .column-half,
  .column-one-fourth,
  .column-three-fourth {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
