
.hidden {
  display: none !important;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}

input,
textarea {
  margin: 1rem 0 2rem;
  border-radius: 0.2rem;
  border: 2px solid rgb(190, 190, 190);
  resize: none;
}

p {
  font-weight: normal;
  text-align: center;
  font-size: 1.5rem;
}

.align-items-center {
  align-items: center;
}

.text-align-right {
  text-align: right;
}

.justify-content-space-between {
  justify-content: space-between;
}

.submit-button-layout {
  text-align: end;
}

.input-layout {
  width: 100%;
  display: block;
  padding: 0.5rem;
}

.notes-form-layout {
  display: block;
  width: 100%;
  border-radius: 0;
  border: 1px solid rgba(182, 182, 182);
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.column-one-fourth {
  width: 25%;
}

.column-three-fourth {
  width: 75%;
}

.column-two-third {
  width: calc(200% / 3);
}

.column-one-third {
  width: calc(100% / 3);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  h2,
  .column-full,
  .column-half,
  .column-one-fourth,
  .column-three-fourth {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
