
body {
  background-color: rgb(240, 240, 240);
  font-family: 'roboto', sans-serif;
}

header {
  background-color: rgb(86, 43, 129);
  color: white;
  font-size: 1.2rem;
}

label {
  font-size: 1.8rem;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: normal;
}

p {
  font-weight: normal;
  text-align: center;
  font-size: 1.5rem;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}

input,
textarea {
  margin: 1rem 0 2rem;
  border-radius: 0.2rem;
  border: 2px solid rgb(190, 190, 190);
  resize: none;
}

a {
  border: 1px solid  rgb(86, 43, 129);
  padding: 0.5rem 1rem;
  background-color: rgb(86, 43, 129);
  color: white;
  font-family: 'roboto', sans-serif;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

input:hover,
textarea:hover {
  border: 3px solid rgb(86, 43, 129);
}

.submit-button-style {
  color: white;
  background-color: rgb(86, 43, 129);
  font-size: 1.8rem;
  padding: 0.5rem 1.3rem;
  border-radius: 0.4rem;
}

.entries-content-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.entries-content-layout > i {
  width: 25%;
  font-size: 25px;
  text-align: right;
}

.align-items-center {
  align-items: center;
}

.text-align-right {
  text-align: right;
}

.justify-content-space-between {
  justify-content: space-between;
}

.submit-button-layout {
  text-align: end;
}

.input-layout {
  width: 100%;
  display: block;
  padding: 0.5rem;
}

.notes-form-layout {
  display: block;
  width: 100%;
  border-radius: 0;
  border: 1px solid rgba(182, 182, 182);
}
