
body {
  background-color: rgb(240, 240, 240);
  font-family: 'roboto', sans-serif;
}

header {
  background-color: rgb(86, 43, 129);
  color: white;
  font-size: 1.2rem;
}

label {
  font-size: 1.8rem;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2,
h3 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

p {
  font-weight: normal;
  font-size: 1.2rem;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}

a {
  border: 1px solid  rgb(86, 43, 129);
  padding: 0.5rem 1rem;
  background-color: rgb(86, 43, 129);
  color: white;
  font-family: 'roboto', sans-serif;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

/* NEW ENTRY SECTION */

.input-layout {
  width: 100%;
  display: block;
  padding: 0.5rem;
}

.notes-form-layout {
  display: block;
  width: 100%;
  border-radius: 0;
  border: 2px solid rgba(182, 182, 182);
}

.submit-button-style {
  color: white;
  background-color: rgb(86, 43, 129);
  font-size: 1.8rem;
  padding: 0.5rem 1.3rem;
  border-radius: 0.4rem;
}

.input-layout,
.notes-form-layout,
.submit-button-style {
  margin: 1rem 0 2rem;
  border-radius: 0.2rem;
  border: 2px solid rgb(190, 190, 190);
  resize: none;
}

.input-layout:hover,
.notes-form-layout:hover,
.submit-button-style:hover,
.input-layout:focus,
.notes-form-layout:focus,
.submit-button-style:focus {
  border: 2px solid rgb(86, 43, 129);
  transition: 50ms;
}

#delete-button {
  font-size: 1.3rem;
  color: red;
  border: none;
  text-transform: capitalize;
  text-decoration: underline;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

#delete-button:hover,
#delete-button:focus {
  color: white;
  background-color: red;
  border-radius: 0.4rem;
  padding: 0.75em;
  text-decoration: none;
}

/* ENTRIES SECTION */

.entries-content-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 260px;
  overflow: auto;
}

.entries-content-layout > h3 {
  width: 95%;
}

.entries-content-layout > i {
  position: relative;
  right: 5px;
  bottom: 5px;
  width: 5%;
  font-size: 25px;
  text-align: right;
}

.entries-content-layout > i:hover::before {
  display: inline-block;
  color: rgb(86, 43, 129);
  transform: scale(1.5, 1.5);
  cursor: pointer;
}

/* MODAL SECTION */

.modal-layout {
  max-width: 800px;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 90%;
  height: 250px;
  border-radius: 0.4rem;
  text-align: center;
  box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 80%);
}

.modal-layout__content {
  width: 80%;
  margin: auto;
}

.modal-layout h4 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.cancel,
.confirm {
  width: 7rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 1em;
  border: none;
  border-radius: 0.4rem;
  text-transform: uppercase;
  transition: 500ms;
  box-shadow: 2px 2px rgb(186, 185, 185);
}

.cancel {
  color: green;
}

.cancel:hover {
  color: white;
  background-color: green;
}

.confirm {
  color: red;
  text-decoration: underline;
}

.confirm:hover {
  color: white;
  background-color: red;
  text-decoration: none;
}

/* UTILITY CLASSES SECTION */

.align-items-center {
  align-items: center;
}

.text-align-right {
  text-align: right;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}
